.filter {
  border: 1px solid #ddd;
  margin: 2rem;
}
.filter .filter-header {
  background-color: #2f3a8f;
  padding: 1rem;
  color: #fff;
  font-size: x-large;
  margin-bottom: 1rem;
}
.filter .filter-body {
  padding: 1rem;
}
.filter .filter-body p {
  font-size: larger;
  margin: 1rem 0;
}
.filter .filter-body > div {
  display: flex;
  flex-direction: column;
  font-size: larger;
  margin: 1rem 0;
}
.filter .filter-body > div span {
  margin: 0.3rem 0;
}